div.game-screen {

  text-align: center;


  .start-game-msg {
    margin-top: 30px;
    font-size: 30px;
  }

  .weapons-result {

    margin-top: 30px;

    div.result-forward-slash {
      font-size: 100px;
    }

    h3.result-message {
      font-size: 30px;
    }

  }

  .player-weapons {

    span:hover {
      cursor: pointer;
    }

  }

}

@media screen and (min-height: 400px) {

  div.game-screen {

    .player-weapons {

      margin-top: 65%;

    }

  }

}

@media screen and (min-height: 600px) {

  div.game-screen {

    .player-weapons {

      margin-top: 50%;

    }

  }

}