div.top-component {
  height: 100%;
}

div.header {
  margin-left: 10px;


  h2 {
    color: darkgray;
  }
}

@media screen and (min-width: 550px) {

  div.top-component {
    width: 550px;
    margin: 0 auto;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
  }

}