div.home-screen {
  text-align: center;

  .diagram-img {
    margin-top: 35px;
  }

  .player-name-section {
    margin-top: 35px;

    p {
      font-size: 30px;
    }

    div.warning-invalid {
      font-size: 25px;
      padding: 5px;
      background-color: red;
    }

    input {
      height: 70px;
      font-size: xx-large;
      margin-bottom: 0px;
    }

  }

  .play {
    margin-top: 35px;
    height: 70px;
    font-size: xx-large;
    font-weight: bold;
    color: #ffffff;
    background-color: #000011;
    text-align: -webkit-center;

    div {
      width: 70%;
      border-top-left-radius: 80px;
      border-bottom-right-radius: 80px;
      background-color: darkcyan;
      height: 100%;

      span {
        vertical-align: -webkit-baseline-middle;
      }

    }

  }

}